{{ extends 'global/Page.html' }}
{{ block title }}Decision 1 of 3{{ endblock }}

{{ block content }}

Finally, please make 3 decisions.<br>
Which of the following do you prefer?<br>

A: 
{{ if player.is_risk_first }}
  <button name="c9_or_30at09_otherwise_minus270" value="False" class="btn btn-primary btn-large">9 points with certainty</button>
{{ else }}
  <button name="c9_or_30at09_otherwise_minus270" value="True" class="btn btn-primary btn-large"><nobr>30 points with probability 90%</nobr>, and -270 otherwise</button>
{{ endif }}
<br>or
<br>B: 
{{ if not player.is_risk_first }}
  <button name="c9_or_30at09_otherwise_minus270" value="False" class="btn btn-primary btn-large">9 points with certainty</button>
{{ else }}
  <button name="c9_or_30at09_otherwise_minus270" value="True" class="btn btn-primary btn-large"><nobr>30 points with probability 90%</nobr>, and -270 otherwise</button>
{{ endif }}
 










{{ endblock }}
