{{ extends 'global/Page.html' }}
{{ block title }}Choose Your Strategy: Up or Down?{{ endblock }}

{{ block content }}

<style>
    .p1  {color: blue; font-weight:bold;} 
    .p2  {color: orange; font-weight:bold;}
    .p1.col {margin-right: 20px;}
    .p2.col {margin-right: -20px;}
</style>


{{ if player.round_number > 1 }}

    {{ if is_new_opponent }}

        Congradulations! you completed a super game. <br>
        You are now matched with a <b>another player</b>. <br>
        Choose your first action in the game with him. <br>

    {{ endif }}

{{ endif }}

<!-- General Game Info -->
<div style='display: flex; justify-content: space-between; font-size: 1.25em; padding: 0px 20px 0px 20px;'>
    <span>
    <b>Round {{player.super_game_round_number}} of {{C.ROUNDS_PER_SUPERGAME}}</b>
    </span>
    <span>
    Now playing with <b>Player #{{player.opponent_number}}</b>
    </span>
    <span>
    Your total score: <b>{{player.total_score}}</b>
    </span>
</div>

<!-- Payoffs and Decision table -->
<div class="form-group required">
    <table class="table table-bordered text-center" style="width: auto; margin: auto">
        <tr class="p2">
            <th colspan="2" rowspan="2"></th>
            <th colspan="2">Other player</th>
        </tr>
        <tr class="p2">
            <th>LEFT</th>
            <th>RIGHT</th>
        </tr>
        <tr>
            <th rowspan="2" class="p1"><span>You</span></th>
            <td><button name="cooperate" value="True" class="btn btn-primary btn-large">Choose<br>UP</button></td>
            <td><div class="p1 col">{{ t_left.CC}}</div><br><div class="p2 col">{{t_right.CC}}</div></td>
            <td><div class="p1 col">{{ t_left.CD }}</div>, <div class="p2 col">{{t_right.CD}}</div></td>
        </tr>
        <tr>
            <td><button name="cooperate" value="False" class="btn btn-primary btn-large">Choose<br>DOWN</button></td>
            <td><div class="p1 col">{{t_left.DC}}</div>, <div class="p2 col">{{ t_right.DC }}</div></td>
            <td><div class="p1 col">{{t_left.DD}}</div><br><div class="p2 col">{{t_right.DD}}</div></td>
        </tr>
    </table>
</div>


<!-- historical payoffs table -->
{{ if player.round_number > 1 }}

    {{ if is_new_opponent }}

        Note that this is a new opponent, so no history is presented yet. <br>

    {{ else }}

        <table class="table" style='text-align: center;'>
            Game History with current opponent:
          <tr>
              <th>Round<br>Number</th>
              <th>Your<br>Action</th>
              <th>Your<br>Payoff</th>
              <th>Payoff Had You<br>Chosen Differently</th>
              <th>Opponent's<br>Action</th>
              <th>Opponent's<br>Payoff</th>
          </tr>

          {{ for past_player in history }}
              <tr>
                  <td>{{ past_player.super_game_round_number}}</td>
                  <td>{{ if past_player.cooperate }}UP{{ else }}DOWN{{ endif }}</td>
                  <td>{{ past_player.payoff }}{{ if past_player.penalty > 0}} <i>(inc. penalty)</i>{{ endif }}</td> 
                  <td>{{ past_player.forgone_payoff}}{{ if past_player.penalty > 0}} <i>(inc. penalty)</i>{{ endif }}</td> 
                  <td>{{ if past_player.opponent_cooperate }}LEFT{{ else }}RIGHT{{ endif }}</td>
                  <td>{{ past_player.opponent_payoff }}</td>

              </tr>
          {{ endfor }}
        </table>
    {{ endif }}

{{ endif }}




{{ endblock }}
