{{ extends 'global/Page.html' }}
{{ block title }}End of Game {{game_num}}{{ endblock }}

{{ block content }}

<style>
    .otree-timer {display: none;}
    .p1  {color: blue; font-weight:bold;}
</style>

Congratulations! you completed game number {{ game_num }} with player {{player.opponent_number}}. <br>
{{ if player.round_number < C.NUM_ROUNDS }} You will now be matched with a <b>another player</b>. <br> {{ endif }}


<!-- historical payoffs table -->
Here is a summary of your games with the former player:<br>

<table class="table" style='text-align: center;'>

  <tr>
      <th>Round<br>Number</th>
      <th><span class="p1">Your<br>Action</span></th>
      <th><span class="p1">Your<br>Payoff</span></th>
      <th>Payoff Had You<br>Chosen Differently</th>
      <th>Opponent's<br>Action</th>
      <th>Opponent's<br>Payoff</th>
  </tr>

  {{ for past_player in history }}
      <tr>
          <td>{{ past_player.super_game_round_number}}</td>
          <td>{{ if past_player.cooperate }}UP{{ else }}DOWN{{ endif }}</td>
          <td>{{ past_player.payoff }}{{ if past_player.penalty > 0}} <i>(inc. penalty)</i>{{ endif }}</td>
          <td>{{ past_player.forgone_payoff}}{{ if past_player.penalty > 0}} <i>(inc. penalty)</i>{{ endif }}</td> 
          <td>{{ if past_player.opponent_cooperate }}LEFT{{ else }}RIGHT{{ endif }}</td>
          <td>{{ past_player.opponent_payoff }}</td>

      </tr>
  {{ endfor }}
</table>
{{ next_button }}

{{ endblock }}
